/* Стилизация кнопки */

.btn {
    outline: none;
    border-radius: 8px;
    color: #fff;
    padding: 15px 62px;
    border: none;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.25;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.btn-primary {
    background-color: var(--blue);
}
.btn-primary:hover {
    background-color: #2342C0;
}
.btn-primary:disabled {
    background-color:var(--blue) ;
}
.btn-secondary {
    background-color: var(--purple);
}
.btn-secondary:hover {
    background-color: #5028C6;
}
.btn-secondary:disabled {
    background-color: var(--purple);
}
.btn-alternate {
    background-color: #fff;
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}
.btn-alternate:hover {
    border: 1px solid  var(--black);
}
.btn-alternate:disabled {
    border: 1px solid var(--grey-3);
}